<!DOCTYPE html>
<html lang="en">
<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<link href="/static/css/action.css?q={{time}}" rel="stylesheet">

</head>


<body>


<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/home">Supernova</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/home">Home<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/profile">Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/resources">Resources</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="/discussions">Discussion Center</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="/action">Action</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="/map">Map</a>
      </li>
    </ul>
  </div>
</nav>

<header>
    <div class="container text-center" class="header">
        <div id=heading>
            <h1> <br> </br>Take Action</h1>
            <p class="lead">Sign petitions, donate, find events <br> </br> <br> </br></p>
        </div>
    </div>
    <div align="center">
 <marquee behavior="alternate" bgcolor="483D8B" direction="right" height:="" 
 loop="7" scrollamount="10" scrolldelay="2" width="100%">
 <span style="font-size: 20px;color:white">
 Latest news! Latest news! Latest news! Latest news!</span></marquee>
</div>
</header>



<!-- New Stuff -->
<div class="container-1" id=topline>
    <div class="row">

<div class="col-md-3">
            <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
            <div class="card-header">Action</div>
            <div class="card-body">
                <h5 class="card-title">Steps to Success</h5>
                <p class="card-text">Quick list of steps you can take to help around your community</p>
            </div>
            </div>
            <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
            <div class="card-header">Steps to Success</div>
            <div class="card-body">
                <h5 class="card-title">Community Engagement</h5>
                <p class="card-text">Be aware of community activities that are happening in your city/borough that you can participate in.</p>
            </div>
            </div>
            <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
            <div class="card-header">Steps to Success</div>
            <div class="card-body">
                <h5 class="card-title">Recruit Others</h5>
                <p class="card-text">Ask some friends to come join you on activities(The more the better!)</p>
            </div>
            </div>
</div>
        <div class="col-md-3">
            <div class="card" style="width: 18rem;">
                <img src="https://lp-cms-production.imgix.net/2019-06/GettyImages-538096543_medium.jpg?fit=crop&q=40&sharp=10&vib=20&auto=format&ixlib=react-8.6.4" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Action in NYC</h5>
                <h6 class="card-subtitle mb-2 text-muted">NYC's vast neighborhoods provide plenty of service to be done</h6>
                <p class="card-text">   New York's five boroughs all provide their own fun and unique events that you can sign up for(Note that this has changed due to the 
                    COVID-19 pandemic). Many of these activities rely on the people to work well with others of different culture and backgrounds. NYC gives you many opportunities to work on your activism and community.
                </p>
                <a href="https://www1.nyc.gov/events/events-filter.html" class="card-link">Explore Events</a>
                <a href="https://benkallos.com/petitions" class="card-link">Sign Petitions</a>
            </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card" style="width: 18rem;">
                <img src="https://cdn.choosechicago.com/uploads/2019/05/loop-1800x900.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Action in Chicago</h5>
                <h6 class="card-subtitle mb-2 text-muted">Chicago's vast neighborhoods provide plenty of service to be done</h6>
                <p class="card-text" alt="PBS.org: BY CRAIG PHILLIPS">From the protests and upheaval of the 1960s to the tragedy of the ’90s heat disaster, Chicago has often been a hotbed of unrest and reassessment, oftentimes paralleling the story of America, but in its own big way.
                </p>
                <a href="https://do312.com/protests" class="card-link">Explore Events</a>
                <a href="https://www.thepetitionsite.com/local/US/IL/Chicago/" class="card-link">Sign Petitions</a>
            </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card" style="width: 18rem;">
                <img src="https://www.history.com/.image/ar_16:9%2Cc_fill%2Ccs_srgb%2Cfl_progressive%2Cg_faces:center%2Cq_auto:good%2Cw_768/MTczMzMzNjYxODgwNDI4NDAz/washington-dc-gettyimages-74063516.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Action in Washington D.C</h5>
                <h6 class="card-subtitle mb-2 text-muted">Washington D.C's vast neighborhoods provide plenty of service to be done</h6>
                <p class="card-text" alt="University of California: Washington Center">Much social and political change happen in Washington. Making real change is difficult. Yet, there are several examples of successful social movements in American history and politics that came to Washington and effectively changed the course of the nation's politics and history.
                </p>
                <a href="https://washingtonpeacecenter.org/arts-and-activism-guide/" class="card-link">Explore Events</a>
                <a href="https://www.thepetitionsite.com/local/US/DC/" class="card-link">Sign Petitions</a>
            </div>
            </div>
        </div>

    </div>


    <div class="container-2" id=topline>
    <div class="row">
        <div class="col-md-3">
            <div class="card text-white bg-danger mb-3" style="max-width: 18rem;">
            <div class="card-header">Steps to Success</div>
            <div class="card-body">
                <h5 class="card-title">Taking Responsibility</h5>
                <p class="card-text">Being an active member in your community doesn't always mean you have to wait for an event, you could do loads of activities in your spare time.</p>
            </div>
            </div>
            <div class="card text-white bg-warning mb-3" style="max-width: 18rem;">
            <div class="card-header">Steps to Success</div>
            <div class="card-body">
                <h5 class="card-title">Spreading Awareness</h5>
                <p class="card-text">Spreading awareness of these events is the reason people attend, so spread these events on social media or even text!</p>
            </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card" style="width: 18rem;">
                <img src="https://bostonglobe-prod.cdn.arcpublishing.com/resizer/z1-A5kPkWjmgJ5B8-jk9ik0flEU=/1440x0/cloudfront-us-east-1.images.arcpublishing.com/bostonglobe/6M44NLLMIJGAHNUSMS4DLT7PGA.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Action in Boston</h5>
                <h6 class="card-subtitle mb-2 text-muted">Boston's vast neighborhoods provide plenty of service to be done</h6>
                <p class="card-text" alt="">Boston is at an abundance with young people who take charge of activsm on a local level. The people of Boston push their state for real change.</p>
                <a href="https://masspeaceaction.org/events/" class="card-link">Explore Events</a>
                <a href="https://www.thepetitionsite.com/local/US/DC/" class="card-link">Sign Petitions</a>
            </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card" style="width: 18rem;">
                <img src="https://media.timeout.com/images/105647068/image.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Action in Los Angeles</h5>
                <h6 class="card-subtitle mb-2 text-muted">Los Angeles's vast neighborhoods provide plenty of service to be done</h6>
                <p class="card-text" alt="University of California: Washington Center">Much social and political change happen in Los Angeles. Making real change is difficult. Yet, there are several examples of successful social movements in American history and politics that came to Los Angeles and effectively changed the course of the nation's politics and history.
                </p>
                <a href="https://washingtonpeacecenter.org/arts-and-activism-guide/" class="card-link">Explore Events</a>
                <a href="https://www.thepetitionsite.com/local/US/DC/" class="card-link">Sign Petitions</a>
            </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card" style="width: 18rem;">
                <img src="https://upload.wikimedia.org/wikipedia/commons/1/1e/San_Francisco_from_the_Marin_Headlands_in_March_2019.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Action in San Fransisco</h5>
                <h6 class="card-subtitle mb-2 text-muted">San Fransisco's vast neighborhoods provide plenty of service to be done</h6>
                <p class="card-text" alt="University of California: Washington Center">Much social and political change happen in San Fransisco. Making real change is difficult. Yet, there are several examples of successful social movements in American history and politics that came to San Fransisco and effectively changed the course of the nation's politics and history.
                </p>
                <a href="https://washingtonpeacecenter.org/arts-and-activism-guide/" class="card-link">Explore Events</a>
                <a href="https://www.thepetitionsite.com/local/US/DC/" class="card-link">Sign Petitions</a>
            </div>
            </div>
        </div>


</div>
</div>

        
 <div class="container-3" id=topline>
    <div class="row">
        <div class="col-md-3">
            <div class="card text-white bg-info mb-3" style="max-width: 18rem;">
            <div class="card-header">Allyship</div>
            <div class="card-body">
                <h5 class="card-title">Being an Effective Ally</h5>
                <p class="card-text">If you yourself cannot identify with the marginilized group of a specific issue be an ally. Be willing to act with and for others in pursuit of ending oppression and creating equality.</p>
            </div>
            </div>
            
        </div>

        

        <div class="col-md-3">
                <div class="card" style="width: 18rem;">
                    <img src="https://timryan.house.gov/sites/timryan.house.gov/files/styles/congress_featured_image/public/featured_image/issues/environment-day.jpg.image_.784.410.jpg?itok=VF2NiTII" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Environment</h5>
                        <div class="list-group">
                        <a href="https://www.change.org/" class="list-group-item list-group-item-action flex-column align-items-start">
                            <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">Petitions</h5>
                            <small></small>
                            </div>
                            <p class="mb-1">Heres some petitions you can sign to help bring change to your cause.</p>
                            <small>This site has is not owned by Supernova &copy.</small>
                        </a>
                        <a href="https://www1.nyc.gov/events/events-filter.html" class="list-group-item list-group-item-action flex-column align-items-start">
                            <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">Activities</h5>
                            <small class="text-muted"></small>
                            </div>
                            <p class="mb-1">Some activities set up by NYC or even people too!</p>
                            <small class="text-muted">This site has is not owned by Supernova &copy</small>
                        </a>
                        <a href="https://www.instagram.com/?hl=en" class="list-group-item list-group-item-action flex-column align-items-start">
                            <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">Awareness</h5>
                            <small class="text-muted"></small>
                            </div>
                            <p class="mb-1">Getting people to know what you're fighting for can help your cause too! Share Supernova!</p>
                            <small class="text-muted">This site has is not owned by Supernova &copy</small>
                        </a>
                        </div>
                    </div>
                </div>
        </div>


        <div class="col-md-3">
                <div class="card" style="width: 18rem;">
                    <img src="https://www.thoughtco.com/thmb/qm5YbRd8mcC9dMCSdcjb3srE1c4=/768x0/filters:no_upscale():max_bytes(150000):strip_icc()/GettyImages-183499041-5a43dbeb0d327a003744cfed.jpg" class="card-img-top" alt="...">
               
                    <div class="card-body">
                        <h5 class="card-title">Animal Protection</h5>
                        <div class="list-group">
                        <a href="https://theanimalrescuesite.greatergood.com/clicktogive/ars/take-action" class="list-group-item list-group-item-action flex-column align-items-start">
                            <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">Petitions</h5>
                            <small></small>
                            </div>
                            <p class="mb-1">Heres some petitions you can sign to help bring change to your cause.</p>
                            <small>This site has is not owned by Supernova &copy.</small>
                        </a>
                        <a href="https://www.worldanimalfoundation.com/how-to-help/volunteer/" class="list-group-item list-group-item-action flex-column align-items-start">
                            <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">Activities</h5>
                            <small class="text-muted"></small>
                            </div>
                            <p class="mb-1">Here's a global organization you can volunteer with!</p>
                            <small class="text-muted">This site has is not owned by Supernova &copy</small>
                        </a>
                        <a href="https://www.instagram.com/?hl=en" class="list-group-item list-group-item-action flex-column align-items-start">
                            <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">Awareness</h5>
                            <small class="text-muted"></small>
                            </div>
                            <p class="mb-1">Getting people to know what you're fighting for can help your cause too! Share Supernova!</p>
                            <small class="text-muted">This site has is not owned by Supernova &copy</small>
                        </a>
                        </div>
                    </div>
                </div>
        </div>

        <div class="col-md-3">
                <div class="card" style="width: 18rem;">
                    <img src="https://stableseas.org/sites/default/files/styles/blog_704_328/public/explosion-beirut-maritime-terror.jpg?itok=vY9mwZLs" class="card-img-top" alt="...">
               
                    <div class="card-body">
                        <h5 class="card-title">Aiding Beirut</h5>
                        <div class="list-group">
                        <a href="https://www.redcross.org/donate/donation.html/?noredir=1&adobe_mc_sdid=SDID%3D5B18214C68CF7278-3B3CAFBDD4A81B05%7CMCORGID%3D723A22C757518E2C7F000101@AdobeOrg%7CTS%3D1596666332&adobe_mc_ref=https:%2F%2Fwww.redcross.org%2Fabout-us%2Fnews-and-events%2Fnews%2F2020%2Fbeirut-explosion-red-cross-treating-the-wounded.html&donamt=0" class="list-group-item list-group-item-action flex-column align-items-start">
                            <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">Donating</h5>
                            <small></small>
                            </div>
                            <p class="mb-1">Heres some petitions you can sign to help bring change to your cause.</p>
                            <small>This site has is not owned by Supernova &copy.</small>
                        </a>
                        <a href="https://www.instagram.com/?hl=en" class="list-group-item list-group-item-action flex-column align-items-start">
                            <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">Awareness</h5>
                            <small class="text-muted"></small>
                            </div>
                            <p class="mb-1">Getting people to know what you're fighting for can help your cause too! Share Supernova!</p>
                            <small class="text-muted">This site has is not owned by Supernova &copy</small>
                        </a>
                        </div>
                    </div>
                </div>
        </div>

    </div>
    </div>
    
<br></br>
<br></br>
<br></br>
<br></br>



 <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Supernova 2020</p>
    </div>
    <!-- /.container -->
  </footer>

            
        




<!-- END OF STUFF -->


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

</body>


</html>