<!DOCTYPE html>
<html lang="en">

<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<link href="/static/css/discussions.css?q={{time}}" rel="stylesheet">
</head>

<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/home">Supernova</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/profile">Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/resources">Resources</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="/discussions">Discussion Center</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="/action">Action</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="/map">Map</a>
      </li>
    </ul>
  </div>
</nav>

<header>
    <div class="container text-center" class="header">
        <div id=heading>
            <h1> <br> </br>Discussion Center</h1>
            <p class="lead">Indulge in discussions, answer questions, and comment on posts! <br> </br> <br> </br></p>
        </div>
    </div>
</header>


<!-- HARDCODED DISCUSSIONS -->

<div class="container">
    <h1 id="Title">Posts</h1>
    <div class="row">
        <div class="col-md-4">
            <figure class="figure">
                <img src="https://cdn4.dogonews.com/images/826ce634-6b31-45db-ac67-b56af97241c6/face.jpg" class="figure-img img-fluid rounded" alt="...">
                <figcaption class="figure-caption">The fight for equality does not end in one platform!     -<a href="/profile-@thomas.cohen">Thomas Cohen</a></figcaption>
            </figure>
            <!-- INPUT SOMETHING -->
            <form>
                <label for="discussion1">Leave a comment</label>
            <input type="comment" class="form-control text-center" id="discussion1">
            </form>
        </div>

        <div class="col-md-4">
            <figure class="figure">
                <img src="https://media4.s-nbcnews.com/i/newscms/2020_26/3392396/200624-blm-protest-jm-1402_cbd89c5bb57ab5b92c133713bac6adab.jpg" class="figure-img img-fluid rounded" alt="...">
                <figcaption class="figure-caption">This fight has not started with George Floyd, but rather the millions of black people that has suffered at the hands of the white people. All lives wont matter until black lives matter. #BLM      -<a href="/profile-@mason.williams">Mason Williams</a></figcaption>
            </figure>
            <!-- INPUT SOMETHING -->
            <form>
                <label for="discussion1">Leave a comment</label>
            <input type="comment" class="form-control text-center" id="discussion1">
            </form>
        </div>



        <div class="col-md-4">
            <figure class="figure">
                <img src="https://blog.prepscholar.com/hs-fs/hubfs/body_community-2.jpg?width=450&height=321&name=body_community-2.jpg" class="figure-img img-fluid rounded" alt="...">
                <figcaption class="figure-caption">Found a great oppurtunity to help out in Newton and I planted 2 new community gardens!     -<a href="/profile-@annie.schmidt">Annie Schmidt</a></figcaption>
            </figure>
            <!-- INPUT SOMETHING -->
            <form>
                <label for="discussion1">Leave a comment</label>
            <input type="comment" class="form-control text-center" id="discussion1">
            </form>
        </div>

        <div class="col-md-4">
            <figure class="figure">
                    <img src="https://images.squarespace-cdn.com/content/v1/59076c9b20099e374ac9b724/1503958156281-EHIJZLGTO0B6VYOWGBTW/ke17ZwdGBToddI8pDm48kIfFcJG14Hv-2yFkTdlN36l7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z5QPOohDIaIeljMHgDF5CVlOqpeNLcJ80NK65_fV7S1UZSuQwUnmymMMrUYRx44syqirGuu6CZ2Cf6Qimz9TgWDNeSmKb0l_enT_dNQ8WjXgg/DSC_6963.jpg" class="figure-img img-fluid rounded" alt="...">
                    <figcaption class="figure-caption">Volunteered at the Sean Casey Animal Rescue Shelter with this amazing crew last weekend!     -<a href="/profile-@mason.williams">Mason Williams</a></figcaption>
                </figure>
            <!-- INPUT SOMETHING -->
            <form>
                <label for="discussion1">Leave a comment</label>
            <input type="comment" class="form-control text-center" id="discussion1">
            </form>
        </div>

        <div class="col-md-4">
            <figure class="figure">
                    <img src="https://www.aspca.org/sites/default/files/how-you-can-help_volunteer_adoption-center_main-image.jpg" class="figure-img img-fluid rounded" alt="...">
                    <figcaption class="figure-caption">Visit the ASPCA adoption center to pick up adorable pups like these!! #AnimalLover #Dogs #NYC     -<a href="/profile-@mason.williams">Mason Williams</a></figcaption>
                </figure>
            <!-- INPUT SOMETHING -->
            <form>
                <label for="discussion1">Leave a comment</label>
            <input type="comment" class="form-control text-center" id="discussion1">
            </form>
        </div>

        <!-- NEW POST -->
            <div class="col-md-4">
                <figure class="figure">
                    <img src="https://c1.staticflickr.com/9/8199/8199350192_103b5be51b_z.jpg" class="figure-img img-fluid rounded" alt="...">
                    <figcaption class="figure-caption">Planted my own garden! If you have a backyard or access to one you should grow your own fruits and vegetables!     -<a href="/profile-@annie.schmidt">Annie Schmidt</a></figcaption>
                </figure>
                                <!-- INPUT SOMETHING -->
                <form>
                    <label for="discussion1">Leave a comment</label>
                    <input type="comment" class="form-control text-center" id="discussion1">
                </form>
            </div> 

            <!-- NEW POST -->
            <div class="col-md-4">
                <figure class="figure">
                    <img src="https://static01.nyt.com/images/2020/06/09/us/09defundcatoday/merlin_173127516_37de34c0-1cea-4174-a0c6-c9f19d7d3fa6-superJumbo.jpg" class="figure-img img-fluid rounded" alt="...">
                    <figcaption class="figure-caption">Defund the police!     -<a href="/profile-@thomas.cohen">Thomas Cohen</a></figcaption>
                </figure>
                                <!-- INPUT SOMETHING -->
                <form>
                    <label for="discussion1">Leave a comment</label>
                    <input type="comment" class="form-control text-center" id="discussion1">
                </form>
            </div> 


    </div>

<!-- <div class="container">
    <h1 id="article">Articles</h1>
    <div class="row">
        <div class="col-md-4"> -->

    <div class="container">
        <h1 id="Title">Forums</h1>
        <div class="row">
            <div class="col-md-4">
                <figure class="figure">
                    <img src="https://www.knau.org/sites/knau/files/202006/masks_0.jpg" class="figure-img img-fluid rounded" alt="...">
                    <figcaption class="figure-caption">Should everyone be forced to wear masks?     -<a href="/profile-@nina.demeny">Nina Demeny</a></figcaption>
                </figure>
                                <!-- INPUT SOMETHING -->
                <form>
                    <label for="discussion1">Leave a comment</label>
                    <input type="comment" class="form-control text-center" id="discussion1">
                </form>

            </div> 
        
    
            <!-- NEW POST -->
            <div class="col-md-4">
                <figure class="figure">
                    <img src="https://campuspress.yale.edu/tribune/files/2019/06/1_E7ltiaRhPKkt6OqnZUhEew.jpeg" class="figure-img img-fluid rounded" alt="...">
                    <figcaption class="figure-caption">How can we scale internet infrastructure while allowing people to have some semblance of privacy?     -<a href="/profile-@jeffrey.palm">Jeffrey Palm</a></figcaption>
                </figure>
                                <!-- INPUT SOMETHING -->
                <form>
                    <label for="discussion1">Leave a comment</label>
                    <input type="comment" class="form-control text-center" id="discussion1">
                </form>
            </div> 

            <!-- NEW POST -->
            <div class="col-md-4">
                <figure class="figure">
                    <img src="https://static01.nyt.com/images/2018/05/04/opinion/04yemenWeb/04yemenWeb-superJumbo.jpg" class="figure-img img-fluid rounded" alt="...">
                    <figcaption class="figure-caption">Can the US be partially held accountable for the Yemeni Crisis?     -<a href="/profile-@sofia.montez">Sofia Montez</a></figcaption>
                </figure>
                                <!-- INPUT SOMETHING -->
                <form>
                    <label for="discussion1">Leave a comment</label>
                    <input type="comment" class="form-control text-center" id="discussion1">
                </form>
            </div> 

        </div> 

        <div class="container">
        <div class="row">

            <!-- NEW POST -->
            <div class="col-md-4">
                <figure class="figure">
                    <img src="https://i2.wp.com/calmatters.org/wp-content/uploads/2020/01/010620_GreenNewDeal_AW_sized_09.jpg?fit=1200%2C830&ssl=1" class="figure-img img-fluid rounded" alt="...">
                    <figcaption class="figure-caption">Green New Deal or Green California Plans?     -<a href="/profile-@thomas.cohen">Thomas Cohen</a></figcaption>
                </figure>
                                <!-- INPUT SOMETHING -->
                <form>
                    <label for="discussion1">Leave a comment</label>
                    <input type="comment" class="form-control text-center" id="discussion1">
                </form>
            </div> 


        </div> 
        </div> 
                          

        </div>
    </div>
</div>

<!-- SCHOOL POSTS -->

<div class="container">
    <h1 id="stitle">My School</h1>
    <div class="row">
        <div class="col-md-4">
            <figure class="figure">
                <img src="https://image.slidesharecdn.com/effectsofelectiononeconomy-150426101704-conversion-gate01/95/effects-of-election-on-economy-1-638.jpg?cb=1430043493" class="figure-img img-fluid rounded" alt="...">
                <figcaption class="figure-caption">How does the US election impact the economy and financial markets? Each student must leave one response and reply to one of your peers'.    -<a href="/profile-@thomas.cohen">Mrs. Shapiro</a></figcaption>
            </figure>
            <!-- INPUT SOMETHING -->
            <form>
                <label for="discussion1">Leave a comment</label>
            <input type="comment" class="form-control text-center" id="discussion1">
            </form>
        </div>

        <div class="col-md-4">
            <figure class="figure">
                <img src="https://specials-images.forbesimg.com/imageserve/5d5a25b568cb0a00091765ca/960x0.jpg?fit=scale" class="figure-img img-fluid rounded" alt="...">
                <figcaption class="figure-caption">Do facial recognition systems do more good then harm? Please provide examples from the Forbes article in your response.      -<a href="/profile-@mason.williams">Mr. Smith</a></figcaption>
            </figure>
            <!-- INPUT SOMETHING -->
            <form>
                <label for="discussion1">Leave a comment</label>
            <input type="comment" class="form-control text-center" id="discussion1">
            </form>
        </div>



        <div class="col-md-4">
            <figure class="figure">
                <img src="https://i.ytimg.com/vi/XxkTM5fyabo/maxresdefault.jpg" class="figure-img img-fluid rounded" alt="...">
                <figcaption class="figure-caption">No need to make comments! Watch video for class discussion tommorow morning.     -<a href="/profile-@annie.schmidt">Ms. Lebowitz</a></figcaption>
            </figure>
            <!-- INPUT SOMETHING -->
            <form>
                <label for="discussion1">Leave a comment</label>
            <input type="comment" class="form-control text-center" id="discussion1">
            </form>
        </div>



    </div>
    </div>




<br></br>
<br></br>
<br></br>
 <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Supernova 2020</p>
    </div>
    <!-- /.container -->
  </footer>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

</body>


</html>